
* {
  box-sizing: border-box;
  margin: 0;
 padding: 0;
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  letter-spacing: .05em;
  background-color: white;
  padding: 25px;
}

h1, .top-nav {
  text-align: center;
}

.top-nav, .top-nav li {
  width: 100%;
}

h1 a, .top-nav a {
  color: #000;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
}

.top-nav a {
  text-transform: uppercase;
}

.wrapper p {
  text-align: center;
  display: inline-block;
  margin: 20px;
  padding: 15px;
  margin-top: 20px;
  color: grey;
}

.profile img {
  max-width: 100%;
  margin: 20px;
  padding-right: 40px;


}

.profile p {
    text-align: center;
  }
/* portfolio */

.container {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
  font-family: Comfortaa, sans-serif;


}

.col {
  margin: 10px;
  min-height: 250px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}

.box-1 img {
max-width: 100%;


}

.box-2 img {
  max-width: 100%;


  }

.box-3 img {
  max-width: 100%;


  }

.box-4 img {
  max-width: 100%;


  }

.box-5 img {
  max-width: 100%;


  }

.box-6 img {
  max-width: 100%;


  }

h3, p {
  color: black;
  margin: 10px;
}

/* footer */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Comfortaa, sans-serif;
  color: black;
  background-color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
  background-color: white;
  font-size: 11px;
  color: grey;

}
h2 {
margin: 10px;
padding-right: 30px;
font-weight: bold;

}

h1 {
  margin: 10px;
  padding: 10px;
}

#contact {
  text-align: center;
  color: grey;
}

.full {
  display: none;
}



@media (min-width: 768px) {

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col {
    flex-basis: calc(47% - 20px);
  }

  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }

  .top-nav a {
    color: black;
  }
  .top {
    display: none;
  }
  .full {
    display: inline-block;
    margin-left: 20px;
  }

    .top {
      display: none;
    }
    .full {
      display: inline-block;
      margin-left: 20px;
  }

   p {
     font-size: 15px;
   }


  #contact {
    margin-right: 87.5px;
  }

  .footer-nav {
    margin-right: 110px;
  }

  .top-nav {
    margin-right: 100px;
  }

  #profile img {
    max-width: 100%;

  }

  #profile p {
    font-size: 15px;
    margin-top: 40px;
  }


  .profile {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1em;
  }
  .profile p {
    text-align: left;
    color: grey;
  }

  .profile img {
    max-width: 50%;
  }
  div[class*="box-"] img {
    padding-right: initial;
  }

}

@media (min-width: 1024px) {

  .col {
  flex-basis: calc(33% - 20px);
  margin: initial;
  padding: 20px;
}

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile {
    display: flex;
    flex-direction: row-reverse;
  }

  .top-nav,
  .top-nav li {
    width: initial;
    margin-bottom: 0;
  }

  #contact p {
    text-align: center;
  }

}
